force-app/main/default/flows/Collections_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Record-triggered flow that auto-assigns Collection_Case__c records to the correct DPD bucket when a new case is created.</description>
    <environments>Default</environments>
    <interviewLabel>Collections Assignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collections Assignment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <object>Collection_Case__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <connector>
            <targetReference>Determine_Bucket_Assignment</targetReference>
        </connector>
    </start>
    <decisions>
        <name>Determine_Bucket_Assignment</name>
        <label>Determine DPD Bucket</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_NPA_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NPA (90+ DPD)</defaultConnectorLabel>
        <rules>
            <name>Bucket_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DPD__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Bucket_1</targetReference>
            </connector>
            <label>Bucket 1 (1-30 DPD)</label>
        </rules>
        <rules>
            <name>Bucket_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DPD__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Bucket_2</targetReference>
            </connector>
            <label>Bucket 2 (31-60 DPD)</label>
        </rules>
        <rules>
            <name>Bucket_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DPD__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>90</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Bucket_3</targetReference>
            </connector>
            <label>Bucket 3 (61-90 DPD)</label>
        </rules>
    </decisions>
    <!-- recordUpdates: use filters+inputAssignments mode only — NO inputReference (mutually exclusive) -->
    <recordUpdates>
        <name>Set_Bucket_1</name>
        <label>Set Bucket 1</label>
        <locationX>56</locationX>
        <locationY>278</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bucket__c</field>
            <value>
                <stringValue>1-30 DPD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Collection_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Bucket_2</name>
        <label>Set Bucket 2</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bucket__c</field>
            <value>
                <stringValue>31-60 DPD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Collection_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Bucket_3</name>
        <label>Set Bucket 3</label>
        <locationX>296</locationX>
        <locationY>278</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bucket__c</field>
            <value>
                <stringValue>61-90 DPD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection_Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Collection_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Assign_NPA_Queue</name>
        <label>Set NPA Bucket</label>
        <locationX>416</locationX>
        <locationY>278</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bucket__c</field>
            <value>
                <stringValue>90+ DPD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection_Status__c</field>
            <value>
                <stringValue>Escalated</stringValue>
            </value>
        </inputAssignments>
        <object>Collection_Case__c</object>
    </recordUpdates>
</Flow>
