force-app/main/default/flows/Loan_Approval_Notification_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Record-triggered flow that sends email notifications when a Loan Application is Sanctioned or Rejected. Emails the record owner (loan officer).</description>
    <environments>Default</environments>
    <interviewLabel>Loan Approval Notification Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Approval Notification Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>
    <!-- Text templates resolve merge fields at runtime — the correct way to pass related-object fields to action params -->
    <textTemplates>
        <name>OwnerEmailAddress</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.Owner.Email}</text>
    </textTemplates>
    <textTemplates>
        <name>ApprovalEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A loan application ({!$Record.Name}) has been sanctioned. Please log in to LendSphere 360 to proceed with the mandate setup and disbursement process.</text>
    </textTemplates>
    <textTemplates>
        <name>RejectionEmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A loan application ({!$Record.Name}) has been rejected. Please log in to LendSphere 360 to review the rejection reason and notify the customer.</text>
    </textTemplates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <object>Loan_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sanctioned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
    </start>
    <decisions>
        <name>Check_Status</name>
        <label>Is Sanctioned or Rejected?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Other Status</defaultConnectorLabel>
        <rules>
            <name>Is_Sanctioned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sanctioned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Approval_Email</targetReference>
            </connector>
            <label>Is Sanctioned</label>
        </rules>
        <rules>
            <name>Is_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Rejection_Email</targetReference>
            </connector>
            <label>Is Rejected</label>
        </rules>
    </decisions>
    <actionCalls>
        <name>Send_Approval_Email</name>
        <label>Send Approval Email</label>
        <locationX>56</locationX>
        <locationY>278</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>OwnerEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Loan Application Sanctioned - Action Required</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ApprovalEmailBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_Email</name>
        <label>Send Rejection Email</label>
        <locationX>296</locationX>
        <locationY>278</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>OwnerEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Loan Application Rejected - Review Required</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>RejectionEmailBody</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
</Flow>
