force-app/main/default/flows/Mandate_Setup_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Customer-facing screen flow for setting up UPI or eNACH mandate.</description>
    <environments>Default</environments>
    <interviewLabel>Mandate Setup Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mandate Setup Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <status>Active</status>
    <variables>
        <name>loanApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mandateType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vpaAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bankAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ifscCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <choices>
        <name>UPI_Choice</name>
        <choiceText>UPI AutoPay (Recommended)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UPI</stringValue>
        </value>
    </choices>
    <choices>
        <name>eNACH_Choice</name>
        <choiceText>eNACH Bank Mandate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>eNACH</stringValue>
        </value>
    </choices>
    <!-- ═══ ALL SCREENS GROUPED TOGETHER ═══ -->
    <screens>
        <name>Step1_Select_Mandate_Type</name>
        <label>Step 1 - Choose Mandate Type</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Mandate_Type</targetReference>
        </connector>
        <fields>
            <name>Mandate_Type_Choice</name>
            <choiceReferences>UPI_Choice</choiceReferences>
            <choiceReferences>eNACH_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Repayment Method</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Step2a_UPI_Details</name>
        <label>Step 2a - UPI Details</label>
        <locationX>56</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_VPA</targetReference>
        </connector>
        <fields>
            <name>VPA_Input</name>
            <dataType>String</dataType>
            <fieldText>UPI ID (VPA)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Step2b_eNACH_Details</name>
        <label>Step 2b - Bank Account Details</label>
        <locationX>296</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Bank_Details</targetReference>
        </connector>
        <fields>
            <name>Bank_Account_Input</name>
            <dataType>String</dataType>
            <fieldText>Bank Account Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IFSC_Input</name>
            <dataType>String</dataType>
            <fieldText>IFSC Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Step3_Confirmation</name>
        <label>Step 3 - Confirm and Submit</label>
        <locationX>176</locationX>
        <locationY>746</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Mandate_Record</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Display</name>
            <fieldType>DisplayText</fieldType>
            <fieldText>You are setting up a mandate for automatic EMI deduction. Click Finish to authorize and submit your mandate request.</fieldText>
        </fields>
    </screens>
    <!-- ═══ ALL ASSIGNMENTS GROUPED TOGETHER ═══ -->
    <assignments>
        <name>Assign_Mandate_Type</name>
        <label>Assign Mandate Type</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>mandateType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mandate_Type_Choice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Mandate_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_VPA</name>
        <label>Assign VPA</label>
        <locationX>56</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>vpaAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VPA_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Step3_Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Bank_Details</name>
        <label>Assign Bank Details</label>
        <locationX>296</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>bankAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_Account_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ifscCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IFSC_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Step3_Confirmation</targetReference>
        </connector>
    </assignments>
    <!-- ═══ DECISIONS ═══ -->
    <decisions>
        <name>Check_Mandate_Type</name>
        <label>UPI or eNACH?</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Step2b_eNACH_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>eNACH</defaultConnectorLabel>
        <rules>
            <name>Is_UPI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mandateType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UPI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step2a_UPI_Details</targetReference>
            </connector>
            <label>Is UPI</label>
        </rules>
    </decisions>
    <!-- ═══ RECORD CREATES ═══ -->
    <recordCreates>
        <name>Create_Mandate_Record</name>
        <label>Create Mandate Record</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <inputAssignments>
            <field>Loan_Application__c</field>
            <value>
                <elementReference>loanApplicationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mandate_Type__c</field>
            <value>
                <elementReference>mandateType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VPA__c</field>
            <value>
                <elementReference>vpaAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Account_Masked__c</field>
            <value>
                <elementReference>bankAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IFSC_Code__c</field>
            <value>
                <elementReference>ifscCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mandate_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Mandate__c</object>
    </recordCreates>
    <!-- ═══ START ═══ -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Step1_Select_Mandate_Type</targetReference>
        </connector>
    </start>
</Flow>
